{% extends 'base.html.twig' %}
{% block title %}
	Hello !
{% endblock %}
{% block body %}
	<!-- ============================================-->
	<!-- <section> begin ============================-->
		<section>

			<div class="container"> <div class="row">
				<h1 class="text-center mb-5">
					Top Featured Courses
				</h1>
				{% for livre in livres %}
					{% include 'imports/_block_livre.html.twig' with {livre: livre} only %}
				{% endfor %}
			</div>
		</div>
		<!-- end of .container-->

	</section>
	<!-- <section> close ============================-->
	<!-- ============================================-->

{% endblock %}

{% block statpublier %}
	{{livres|length}}
{% endblock %}
