{% block upcoming %}

	<!-- ============================================-->
	<!-- <section> begin ============================-->
		<section class="py-0" style="margin-top:-5.8rem"> <div class="container">
			<div class="row">
				<div class="card card-span bg-secondary">
					<div class="card-body">
						<div class="row flex-center gx-0">
							<div class="col-lg-4 col-xl-2 text-center text-xl-start"><img src="assets/img/gallery/funfacts.png" width="170" alt="..."/></div>
							<div class="col-lg-8 col-xl-4">
								<h1 class="text-light fs-lg-4 fs-xl-5">Upcoming Our
									<span class="text-primary">Basic in Python
									</span>Course!</h1>
							</div>
							<div class="col-lg-12 col-xl-6">
								<h1 class="display-1 text-light text-center text-xl-end">11 : 02 : 45 : 21</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end of .container-->

	</section>
	<!-- <section> close ============================-->
	<!-- ============================================-->


{% endblock %}
